# -----------------------------
# macOS
# -----------------------------
.DS_Store
.AppleDouble
.LSOverride

# -----------------------------
# IntelliJ / PyCharm
# -----------------------------
.idea/
*.iml
*.iws
*.ipr
out/