# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd
*.pyo

# -----------------------------
# 가상환경
# -----------------------------
venv/
env/

# -----------------------------
# Django
# -----------------------------
db.sqlite3
local_settings.py
media/
staticfiles/
*.log

# -----------------------------
# 기타
# -----------------------------
.env
*.env